<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

	<appSettings>
		<add key="ConnectionString" value="Database='feibiaodb';Data Source='192.168.123.133';UserId='root';Password='123456';charset='utf8';pooling=true"/>
		<!--<add key="ConnectionString" value="Database='fly';Data Source='rm-wz9bv91dy1z0x23u9to.mysql.rds.aliyuncs.com';UserId='fly';Password='TY2018Fly';charset='utf8';pooling=true"/>-->
		<add key="certificatePath" value="E:\工作项目\svncode\飞镖项目\6-Source\FeiBiaoManager\lib\apiclient_cert.p12"/>
		<add key="mchid" value="1519238551"/>
	</appSettings>
</configuration>